{include file="common/meta"}
<title>商品管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="layerFull('添加','{:url(\'add\')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a></span> <span class="r">共有数据：<strong>{$list|count}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">商品列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="150">名称</th>
				<th width="150">封面</th>
				<th width="150">原价</th>
				<th width="150">会员价</th>
				<th width="150">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		{volist name="list" id="v"}
			<tr class="text-c">
				<td><input type="checkbox" value="{$v.id}" name="ids"></td>
				<td>{$i}</td>
				<td>{$v.gname}</td>
				<td><img src="{$v.headUrl}" style="width: 50px;height: 50px;"></td>
				<td>{$v.originPrice}</td>
				<td>{$v.vipPrice}</td>
				<td class="td-status">
					<span class="label {$v.status==1?'label-success':'label-defaunt'} radius">{$v.status==1?'已上架':'已下架'}</span>
				</td>
				<td class="td-manage"><a style="text-decoration:none" onClick="{$v.status==1?'stop':'start'}(this,'{$v.id}','下架','上架','{:url(\'changeStatus\')}')" href="javascript:;" title="{$v.status==0?'上架':'下架'}"><i class="Hui-iconfont">&#xe631;</i></a> <a title="编辑" href="javascript:;" onclick="layerFull('编辑','{:url(\'edit\',[\'id\'=>$v.id])}')" class="ml-15" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="dels(this,'{:url(\'del\')}','{$v.id}')" class="ml-15" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
		{/volist}
		</tbody>
	</table>
</div>

<!--_footer 作为公共模版分离出去-->
{include file="common/footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    function stop(obj,id,down_text,up_text,url){
        layer.confirm('确认要'+down_text+'吗？',function(index){
            $.post(url,{id:id,status:0},function (res) {
                if (res.code==1){
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="start(this,'+id+',\''+down_text+'\',\''+up_text+'\',\''+url+'\')" href="javascript:;" title="'+up_text+'"><i class="Hui-iconfont">&#xe603;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已'+down_text+'</span>');
                    $(obj).remove();
                    layer.msg('已'+down_text+'!',{icon: 5,time:1000});
                }
                if (res.code==0){
                    layer.msg(res.msg,{icon: 7,time:1000});
                }
            })

        });
    }

    function start(obj,id,down_text,up_text,url){
        layer.confirm('确认要'+up_text+'吗？',function(index){
            $.post(url,{id:id,status:1},function (res) {
                if (res.code==1){
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="stop(this,'+id+',\''+down_text+'\',\''+up_text+'\',\''+url+'\')" href="javascript:;" title="'+down_text+'"><i class="Hui-iconfont">&#xe6de;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已'+up_text+'</span>');
                    $(obj).remove();
                    layer.msg('已'+up_text+'!',{icon: 6,time:1000});
                }
                if (res.code==0){
                    layer.msg(res.msg,{icon: 7,time:1000});
                }
            })

        });
    }
</script>
</body>
</html>